@import url('https://fonts.googleapis.com/css?family=Quicksand');
		*{
			margin:0;
			padding: 0;
		}
		html{
			background-color: rgb(233,233,233);
			background-image: url("https://i.pinimg.com/originals/cc/c7/83/ccc783f6aa24b72ece1cf3b4439e1210.jpg");
            background-position:center;
			/*background-color: #fff000;#717D7E;#F4F6F6;*/
			background-attachment: fixed;
			position: absolute;
		}

		.grid-cont{
			display: grid;
			/*grid-template-areas: "header" "cont cont cont" "footer"*/ 
			grid-template-columns: repeat(2, 2fr);
			grid-gap: 0;
			grid-auto-flow: column;
			grid-auto-rows: minmax(100px,auto);
			grid-auto-columns:minmax(100px,auto); 

		}
		.sec{
			display: grid;
			grid-template-columns: 1fr 1fr;
			width:95vw;
			grid-auto-rows: minmax(100px,auto);
			grid-auto-columns:minmax(100px,auto); 
			margin-left: 10px;
			margin-top: 70px;
			margin-bottom: 200px;
		}
		header{
			z-index: 1000;
			position: fixed;
			font-family: 'Tw Cen MT',sans-serif;
			width: 100vw;
			background-color:#28B463;
			grid-column: 1/3;
			padding: 40px;
			display: fixed;

		}
		h1{
			
			color: #fff;
			text-align: center;
			border: 4px solid #fff;
			width: 300px;
			font-size: 45px;
		}

		.ab img{
			margin: 10%px;
			width: 70%;
			height: 70%;
			border-radius: 50%;
			border: solid 5px #888;
			
		}
		a{
			text-decoration: none;
			color:#000;
			font-weight: bold;
		}
		.a{  
			margin-top: 100px;
			margin-left: 260px;
			background-color: #888888;
			padding: 40px;
		}
		.b2:hover{
			opacity: 1;
		}
		.b3:hover{
			opacity: 1;
		}
		.b4:hover{
			opacity: 1;
		}
		.b5:hover{
			opacity: 1;
		}
		.a:nth-child(odd){
			background-color: #333;
		}
		.b1{
			position: fixed;
			padding:0;
			font-weight: bold;
			color: #000;
			font-size: 10px;
			margin-top: 135px;
			margin-left: 0;
			grid-row: 1/4;
			background-color:#fff;#D7DBDD;#E0E0E0;#CCD1D1;
			height: 200%;
			width: 15%;
			grid-row-gap: 0;
			box-shadow: 10px 10px 40px #000;
			transition: all linear 0.5s;
		}
		.active{
			margin-left: -11%;
		}
		.b1 ul{
			margin-left: 0;
			list-style: none;
			text-align: 20px;
		}
		.b1 ul li{
			padding: 35px;
			padding-left: 40px;
			font-family: 'Tw Cen MT',sans-serif;
			font-size: 17px;
			text-align: 20px;
			border-bottom: 0.1px solid #888888;
			width: inherit;
			margin-left: 0;
		}
		#sidemain{
			background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPUkw6jf9baBu-_fTy1PK86ooySQNQJvJykS1FUVfPF3TsWauP4A");
			background-color:#2E86C1 ; #E5E8E8;
		}
		#sidemain i{
			color: #000;
			justify-content: right;
		}
		.b1 ul li:hover{
			background-color:#E5E8E8;
		}
		.b1 ul li a:hover{
			
			color:#333;
		}
		.ab i{
			text-align: right;
			padding: -20px;
			margin-top: 10px;
		}
		.b2{
			background-image: url("https://cdn.nimbusthemes.com/2017/09/09233341/Free-Nature-Backgrounds-Seaport-During-Daytime-by-Pexels.jpeg");
			background-position: center;
			background-repeat:no-repeat;
			grid-column: 1/2;
			width: 700px;
			height: 300px;
			opacity: 1;
			box-shadow: 20px 20px 50px #000;
		}
        .b3{
        	background-image: url("https://i.pinimg.com/736x/57/d1/05/57d105b71b04392e06575d1bdc3fe59d--wallpaper-cars-jdm-cars-wallpapers.jpg");
        	background-position: center;
        	grid-column: 2/3;
        	grid-row: 1/3;
			width: 225px;
			height: auto;
			margin-left: 35px;
			opacity: 1;
			box-shadow: 20px 20px 50px #000;
        }
        .b4{
        	background-image: url("http://2.bp.blogspot.com/-TtuC9tdkgR8/VXe4fla6bwI/AAAAAAAAADM/dm1N9DHpC4w/s1600/mountain-nature-hd-wallpapers-top-beautiful-desktop-nature-images-background.jpg");
        	background-position: center;
        	background-repeat: no-repeat;
        	grid-column: 1/2;
			width: 300px;
			height: 200px;
			margin-top: 10px;
			opacity: 1;
			box-shadow: 20px 20px 50px #000;
        }
        .b5{
        	background-image: url("http://www.magazinplusnews.com/wp-content/uploads/2018/07/lovable-live-beach-wallpaper-for-desktop-9.jpg");
        	background-position: center;
            grid-column: 2/3;
            grid-row: 2/3;
			width: 250px;
			height: 200px;
			margin-top: 10px;
			margin-left: -370px;
			opacity: 1;
			box-shadow: 20px 20px 50px #000;
        }
        button{
   margin-left: 50%;
  padding:15px;
  padding-left:40px;
  padding-right:40px;
  background-color:#187FDC;
  border-radius:35px;
  font-family: 'Quicksand','sans-serif';
  color:#fff;
  font-size: 20px;
  font-weight:bold;
  text-decoration:none;
  border:5px solid #187FDC;
  }
.btn{ 
	font-size: 20px;
	margin-top: 40px;
  text-align: center;
  font-weight: bold;

}
button:hover{
    background-color: #185D9B;
    color: #fff;
    font-weight: bold;
    border:5px solid #185D9B;
}

#quote{
	margin-left: 17%;
	margin-top: -100px;
	margin-right: 20px;
	color:#000;
	font-size: 20px;
	font-weight: bold;
	background-color: #fff;
	border-radius: 10px;
}
#quote-pre{
	padding: 20px;
}
#leftq,#rightq{
	font-size: 64px;
	size: 100px;
}
#footer{
	width: 100%;
	height: 120px;
	background-color: #E5E8E8;
	margin-top: 60px;
}
#footer li{
	margin-left: 35%;
	bottom: 0px;
	list-style-type: none;
	padding-left: auto;
}
#footer li a{
	display: inline-block;
	padding:30px;
	font-size: 60px;
	size: 60px;
	color: #000;
}
.fa-facebook{
	color: #1F618D;
}
.fa-twitter{
	color: #1DA1F2;
}
.fa-google-plus{
	color: #DB4437 ;
}
.fa-instagram{
	color: #262626 ;
}